<div class="main-div">

  <mat-card>
    <mat-card-title>Get In Touch</mat-card-title>
    <mat-card-content>
      <mat-card class="carddetail">
        <i class="fas fa-phone fa-5x"></i>
        <span class="cardtext">+91-9321590949</span>
      </mat-card>
      <mat-card class="carddetail">
        <i class="fas fa-phone fa-5x"></i>
        <span class="cardtext">+91-9321590949</span>
      </mat-card><mat-card class="carddetail">
        <i class="fas fa-phone fa-5x"></i>
        <span class="cardtext">+91-9321590949</span>
      </mat-card>

    </mat-card-content>
  </mat-card>
</div>
