<mat-card>
    <mat-card-header>
       Update Subscription 
    </mat-card-header>
    <mat-card-content>
            <mat-form-field>
            <input  matInput  placeholder="Name" [(ngModel)]="subscription.name"  type="text" name="name"  required>
            </mat-form-field>
            <mat-form-field>
                <mat-select matInput [(ngModel)]="subscription.subscriptionType">
                  <mat-option value="CA">Client</mat-option>
                  <mat-option value="DA">Dietitian</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field>
            <input  matInput  placeholder="Duration" [(ngModel)]="subscription.duration"  type="number"  name="duration"  required>
            </mat-form-field>
            <mat-form-field>
                <mat-select matInput [(ngModel)]="subscription.durationType">
                  <mat-option value="D">Days</mat-option>
                  <mat-option value="M">Months</mat-option>
                  <mat-option value="Q">Quartarly</mat-option>
                  <mat-option value="Y">Years</mat-option>

                </mat-select>
              </mat-form-field>
                <mat-form-field>
                <input  matInput  placeholder="Amount" [(ngModel)]="subscription.amount"  type="number" name="amount"  required>
                </mat-form-field>
                <mat-form-field>
                <input  matInput  placeholder="Offer Amount" [(ngModel)]="subscription.offerAmount"  type="number"  name="offerAmount"  required>
                </mat-form-field>
                <mat-form-field>
                <textarea  matInput  placeholder="Details" [(ngModel)]="subscription.detail" name="detail"  required></textarea>
                </mat-form-field>
               
                    <!-- <mat-label>Is Active</mat-label>
                <mat-radio-group [(ngModel)]="subscription.isActive">
                    <mat-radio-button name="isActive" value="true">Yes</mat-radio-button>
                    <mat-radio-button name="isActive" value="false">No</mat-radio-button>
                </mat-radio-group>  -->
               
            <mat-card-actions>
              <button  mat-raised-button (click)="updateSubscription()"  color="primary" type="submit">Update</button><button type="reset" mat-raised-button color="white">Reset</button>
            </mat-card-actions>
    </mat-card-content>
</mat-card>