<div class="card" *ngFor="let sub of Subscriptions">
    <!-- *ngIf="sub._id==(accountService.currentUser$ |async).user['_id']" -->
    <mat-card>
        <mat-card-header>
            <h3>{{(sub.subscriptionDetails)?.name}}</h3>
        </mat-card-header>
        <mat-card-content>
            <h3>Duration : {{(sub.subscriptionDetails)?.duration}}{{(sub.subscriptionDetails)?.durationType}}</h3>
            <h3>Is Active : {{sub.isActive?'Yes':'No'}}</h3>
        </mat-card-content>
        <mat-card-footer>
            <h3>Total Price : <span>Rs. {{(sub.subscriptionDetails)?.amount}} /-</span></h3>
            <h3>Paid : Rs. {{sub.paidAmount}} /-</h3>
            <h3>Start Date : {{sub.startDate}}</h3>
            <h3>End Date : {{sub.endDate}}</h3>
        </mat-card-footer>
    </mat-card>
</div>
